.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    list-style-type: none;
}

.grid-lines {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

