/* main layout */
.main-layout {
    background: lightskyblue;
    display: grid;
    grid-template-columns:
        var(--layoutpadding) 1fr var(--layoutpadding);
}

.main-layout>*{
    grid-column: 2;
}


/* editor layout */

.edit-meme-layout {
    display: none;
    grid-template-columns: 20px 1fr 20px;
    margin-bottom: 20px;
}

.edit-meme-layout>*:first-child {
    grid-column: 2;
}

.edit-meme-layout>*:last-child {
    grid-column: 2;
}