/* main layout */
.main-layout {
    display: grid;
    grid-template-columns:
        /* var(--layoutpadding) 1fr var(--layoutpadding); */
        minmax(var(--layoutpadding), 1fr) minmax(auto, 980px) minmax(var(--layoutpadding), 1fr);
}

.main-layout{
    grid-column: 2;
}

.edit-meme-layout {
    grid-template-columns: 80px 1fr 60px 1fr 80px;
}