.main-header {
    height: 160px;
    background-color: darkblue;
    font-size: 2rem;

    border-radius: 25px;
    margin: 30px 30px;
    grid-column: 1 / -1;
    
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}

.main-nav>ul {
    gap: 1em;
}

.main-nav>ul li:hover {
    opacity: 0.8;
}

.indicator{
    color: aqua;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em

}

.saved-memes {
    display: none;
    grid-template-columns: repeat(2, 1fr);
   
    gap: 1em
}

.container {
    position: relative;
}

.container .btn {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 1em;
    padding:  0.35em 0.85em;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    /* display: none; */
    
    /* z-index: -2; */
  
}

.container:hover + .container .btn{
    /* display: block; */
    
    /* position: absolute; */
    /* z-index: 5; */
}


.editor-container {
    display: grid;
    background-color: lightblue;
    border-radius: 2em;
    padding: 2em;
    gap: 1em;
    justify-content: center;
    place-items: center;
    margin-top: 1em;
}

input[name="text"] {
    background-color: lightskyblue;
    width: 14em;
    height: 2em;
    border-radius:7em;
    border: 1px solid dodgerblue;
    font-size: 1.2em;
}

input[name="text"]:focus {
    outline-width: 0;
}

.color-btn {
    background-color:DodgerBlue;
    color: var(--clr-primary1);
    font-size: 1em;
    padding: 0.35em 0.85em;
    border: none;
    cursor: pointer;
    border-radius: 2em;
}


.color-input{
    width: 0;
    height: 0;
    opacity: 0;
}

.footer{
    background-color: darkblue;
    text-align: center;
    padding-top: 0.7em;
    border-radius: 2em;
    margin: 30px 30px;
    grid-column: 1 / -1;
   
}


.file{
    justify-content: center;
    font-size: 2em;
    border-radius: 20px;
}

.file-input{
display: none;
}