.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;

    transition: opacity .8s;
}

body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
}