/* Mobile Only */
@media (max-width: 640px) {

    .main-header {
        height: 60px;
    }


    .main-header .btn-toggle-menu {
        display: block;
    }

    .main-nav {
        position: fixed;
        top: 60px;
        background: green;
        left: 0;
        width: 100%;


        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-items: end;
        align-content: end;
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .main-nav>ul {
        flex-direction: column;
        min-height: 0;
    }

    .main-nav>ul li {
        border-bottom: 1px solid #000;
    }

    .main-nav a {
        padding: 1em;
    }

}

/* Large */
@media (min-width: 1020px) {
    html {
        font-size: 16px;
    }

    .main-layout {
        grid-template-columns:
            minmax(var(--layoutpadding), 1fr) minmax(auto, var(--l)) minmax(var(--layoutpadding), 1fr);
    }

    .edit-meme-layout {
        grid-template-columns: 80px 1fr 60px 1fr 80px;
        margin-bottom: 50px;
    }

    .edit-meme-layout>*:last-child {
        grid-column: 4;
    }

    .logo {
        font-size: 1.5em;
    }

    .main-nav>ul {
        gap: 80px;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .saved-memes {
        grid-template-columns: repeat(4, 1fr);
    }

    .editor-container {
    margin-top: 0;
    }
}