:root {
    --clr-primary1: #EBEEF3; /* edit box */
    --clr-primary2: #3D3D3D; /* edit box text */
    --clr-primaryBase: #ffffff; /*  general text */

    --layoutpadding: 20px;

    --l: 1300px;
}